<footer class="footer-rows" style="">
    <div class="uc-row-wrapper">
        <div class="uc-row last" data-id="2" style="background: rgba(217, 217, 217, 0.36)">
            <div id="r2" class="row-container container">
                <div class="row footerRow" style="">
                    <div class="column col-sm-12" dataColumn-id="2" style="padding: 0vh 0vh">
                        <div class="column-container vertical-top" style="margin-top: 0vh"
                            aria-label="column" role="contentinfo">
                            <div class="module-container only-mobile align-center ModuleLogo first"
                                style="
            padding: 0px 40px 0px 40px;
            padding-bottom: 0vh;
          " aria-label="module container" role="contentinfo" id="m2">
                                <div class="module ModuleLogo" dataModule-id="2"
                                    style="display: block; max-width: 220px">
                                    <a href="index.html">
                                        <div class="fixed-ratio"
                                            style="padding-bottom: 52.753303964758%">
                                            <img width="220px" height="116px" data-logo-element
                                                class="fixed-ratio-content"
                                                src="../static.ucraft.net/fs/ucraft/userFiles/thpgroup/images/logod6eb.png?v=1586970956"
                                                alt="True Homes Property Group" />
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <div class="module-container only-mobile align-center ModuleSocialIcons"
                                style="padding-bottom: 4.5045045045045vh" aria-label="module container"
                                role="contentinfo" id="m3">
                                <div class="module ModuleSocialIcons" dataModule-id="3">
                                    <style>
                                        .social-icon-wrapper ul[data-module-id="3"] li {
                                            text-transform: none;
                                            margin-right: 20px;
                                        }

                                        .social-icon-wrapper ul[data-module-id="3"] li {
                                            font-size: 30px;

                                            width: 30px;
                                            height: 30px;
                                        }

                                        .social-icon-wrapper ul[data-module-id="3"] li {
                                            letter-spacing: 0;
                                        }

                                        .social-icon-wrapper ul[data-module-id="3"] li a svg {
                                            fill: rgb(208, 208, 202);
                                        }

                                        .social-icon-wrapper ul[data-module-id="3"] li a span {
                                            color: rgb(208, 208, 202);
                                        }
                                    </style>

                                    <div class="social-icon-wrapper">
                                        <ul class="colored default" data-module-id="3">
                                            <li class="uci-facebook-default main-font-typography">
                                                <a href="https://www.facebook.com/TrueHomesPropertyGroup"
                                                    target="_blank" aria-label="facebook"
                                                    rel="noopener noreferrer">
                                                    <svg width="30" height="30" viewBox="0 0 256 256"
                                                        fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <path
                                                            d="M167.556 127.809H141.562V221H104.311V128.27H85V96.4799H104.426V71.615C104.426 48.2596 116.916 36 144.547 36H170.218V68.3773H149.985C142.933 68.3773 141.309 71.3846 141.309 78.6666V96.4108H169.988L167.556 127.855V127.809Z" />
                                                    </svg>
                                                </a>
                                            </li>
                                        </ul>
                                        <script type="application/ld+json">
                                            {
                                                "@context": "https:\/\/schema.org",
                                                "@type": "Organization",
                                                "url": "https:\/\/www.truehomespropertygroup.com",
                                                "sameAs": [
                                                    "https:\/\/www.facebook.com\/TrueHomesPropertyGroup"
                                                ]
                                            }
                                        </script>
                                    </div>
                                </div>
                            </div>

                            <div class="module-container only-mobile align-center ModuleParagraph last"
                                style="padding: 0px 0px 0px 0px" aria-label="module container"
                                role="contentinfo" id="m4">
                                <div class="module ModuleParagraph" dataModule-id="4"
                                    style="display: block; max-width: 374px">
                                    <div class="uc-content">
                                        <h6 style="color: rgb(119, 119, 119)">
                                            <a href="https://www.ucraft.com/" target="_self"><span
                                                    style="font-family: montserrat">Copyright © 2018
                                                    True Homes Property Group,
                                                    LLC</span></a>
                                        </h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>