<header class="header-rows" style="">
    <div class="header-row-wrapper">
        <div class="uc-row-wrapper">
            <div class="uc-row header-row" data-id="1" style="background: transparent">
                <div id="r1" class="row-container container">
                    <div class="row headerRow" style="">
                        <div class="column col-sm-12" dataColumn-id="1" style="padding: 20px 0px">
                            <div class="column-container" style="" aria-label="column"
                                role="contentinfo">
                                <div class="module-container only-mobile align-center ModuleNavigation first last"
                                    aria-label="module container" role="contentinfo" id="m1">
                                    <div class="module ModuleNavigation" dataModule-id="1">
                                        <input type="hidden" class="standard-navigation" />
                                        <style>
                                            #navigation-1>.standard-view>.navigation>.page>.page-children {
                                                background: #f1f1f1;
                                            }

                                            #navigation-1>.standard-view>.navigation>.page>.page-children>.page>ul {
                                                background: #f1f1f1;
                                            }

                                            #navigation-1 .navigation>li.has-childes.page>ul a {
                                                padding: 0 15px;
                                            }

                                            #navigation-1 .navigation>li.has-childes.page>ul.page-children:after {
                                                height: 10px;
                                            }

                                            #navigation-1 ul.open-to-top::after {
                                                position: absolute;
                                                bottom: -10px;
                                            }

                                            #navigation-1 .page a {
                                                color: #353535;
                                                font-size: 13px;
                                                font-weight: 400;
                                                letter-spacing: 0px;
                                                text-transform: uppercase;
                                            }

                                            #navigation-1 .page a .uci-dropdown-arrow-down svg {
                                                fill: #353535;
                                            }

                                            #navigation-1>nav>ul>li.page:not(:last-child) {
                                                margin-right: 50px;
                                            }

                                            #navigation-1>nav>ul>li:first-child:nth-last-child(1) {}

                                            #navigation-1 li.page>a:hover {
                                                color: #959595 !important;
                                            }

                                            #navigation-1 li.page.active>a {
                                                color: #353535;
                                            }

                                            #navigation-1 li.page.active>a:hover {
                                                color: #959595 !important;
                                            }

                                            #navigation-1 li.page.active>a {
                                                color: #353535;
                                            }

                                            #navigation-1 li.page.active>a:hover {
                                                color: #959595 !important;
                                            }

                                            #navigation-1 li.page>ul.page-children li.page a {
                                                color: #353535;
                                            }

                                            #navigation-1 li.page>ul.page-children li.page a .uci-dropdown-arrow-down svg {
                                                fill: #353535;
                                            }

                                            #navigation-1 li.page>ul.page-children>li.page a:hover,
                                            #navigation-1 li.page>ul.page-children>li.page>ul.page-children>li.page a:hover {
                                                color: #959595 !important;
                                            }

                                            #navigation-1 li.page>ul.page-children>li.page.active>a,
                                            #navigation-1 li.page>ul.page-children>li.page>ul.page-children>li.page.active>a {
                                                color: #353535;
                                            }

                                            #navigation-1 li.page>ul.page-children>li.page.active>a:hover,
                                            #navigation-1 li.page>ul.page-children>li.page>ul.page-children>li.page.active>a:hover {
                                                color: #959595 !important;
                                            }

                                            #navigation-1 .subMenu__show:before,
                                            #navigation-1 .subMenu__horizontal-arrow-left:before,
                                            #navigation-1 .subMenu__horizontal-arrow-right:before,
                                            #navigation-1 li.page>ul.page-children>li.has-childes>.page-children.pagesArrows>li:first-child:before {
                                                color: #f1f1f1;
                                            }

                                            #navigation-1 li.page>ul.page-children>li.page>a {
                                                color: #353535;
                                                font-size: 12px;
                                            }

                                            #navigation-1 li.page ul.page-children .page {
                                                padding-top: 5px;
                                                padding-bottom: 5px;
                                            }

                                            #navigation-1 li.page ul.page-children .page:last-child {
                                                padding-bottom: 5px;
                                            }

                                            #navigation-1 li.has-childes.page>a>.uci-dropdown-arrow-down svg {
                                                width: 7.5px;
                                                height: 7.5px;
                                                line-height: 9px;
                                            }

                                            #navigation-1 li.has-childes.page>.page-children.pagesArrows>.has-childes>a>.uci-dropdown-arrow-down svg {
                                                width: 7px;
                                                height: 7px;
                                                line-height: 12px;
                                            }

                                            #navigation-1 li.has-childes.page>.page-children li>a,
                                            #navigation-1 li.has-childes.page>.page-children li {
                                                text-align: center;
                                            }
                                        </style>

                                        <div id="navigation-1"
                                            class="navigation-inner horizontal standard"
                                            data-stretch-labels="">
                                            <div class="off-canvas-button icon"
                                                aria-label="off canvas button" role="button"
                                                data-selector="off-canvas-1" data-attribute="right"
                                                style="
                  width: 25px;
                  height: 25px;
                  color: #000;
                  fill: #000;
                " tabindex="0">
                                                <svg viewbox="0 0 100.00000762939453 75.000244140625"
                                                    version="1.1" xmlns="http://www.w3.org/2000/svg"
                                                    xmlns:xlink="http://www.w3.org/1999/xlink">
                                                    <g transform="scale(1.2716659928598795)">
                                                        <g>
                                                            <g>
                                                                <path clip-rule="evenodd"
                                                                    d="M81.602,44.102h-66.84c-3.256,0-5.898,2.64-5.898,5.898    s2.642,5.898,5.898,5.898h66.84c3.256,0,5.898-2.64,5.898-5.898S84.858,44.102,81.602,44.102z M81.602,67.693h-66.84    c-3.256,0-5.898,2.64-5.898,5.898c0,3.258,2.642,5.898,5.898,5.898h66.84c3.256,0,5.898-2.64,5.898-5.898    C87.5,70.333,84.858,67.693,81.602,67.693z M14.763,32.307h66.84c3.256,0,5.898-2.64,5.898-5.898c0-3.258-2.642-5.898-5.898-5.898    h-66.84c-3.256,0-5.898,2.64-5.898,5.898C8.865,29.667,11.507,32.307,14.763,32.307z"
                                                                    transform="translate(-8.864001274108887,-20.511001586914062)">
                                                                </path>
                                                            </g>
                                                        </g>
                                                    </g>
                                                </svg>
                                            </div>

                                            <nav class="standard-view">
                                                <ul class="navigation" style="font-family: Lato"
                                                    itemscope
                                                    itemtype="https://www.schema.org/SiteNavigationElement">
                                                    <li class="page subMenu__item show center active"
                                                        data-anchor="" itemprop="name">
                                                        <a class="nav-item center" href="index.html"
                                                            itemprop="url"
                                                            data-page-type="pageBlank" data-link=""
                                                            tabindex="0">
                                                            Home
                                                        </a>
                                                        <script type="application/ld+json">
                                                            {
                                                                "@context": "https:\/\/schema.org",
                                                                "@type": "BreadcrumbList",
                                                                "itemListElement": [{
                                                                    "@type": "ListItem",
                                                                    "position": 1,
                                                                    "name": "Home"
                                                                }]
                                                            }
                                                        </script>
                                                    </li>
                                                    <li class="page subMenu__item show center"
                                                        data-anchor="" itemprop="name">
                                                        <a class="nav-item center" href="about.html"
                                                            itemprop="url"
                                                            data-page-type="pageBlank" data-link=""
                                                            tabindex="0">
                                                            About
                                                        </a>
                                                    </li>
                                                    <li class="page subMenu__item show center"
                                                        data-anchor="" itemprop="name">
                                                        <a class="nav-item center"
                                                            href="articles-1.html" itemprop="url"
                                                            data-page-type="pageBlank" data-link=""
                                                            tabindex="0">
                                                            Articles
                                                        </a>
                                                    </li>
                                                    <li class="page subMenu__item show center"
                                                        data-anchor="" itemprop="name">
                                                        <a class="nav-item center"
                                                            href="sell-your-home.html"
                                                            itemprop="url"
                                                            data-page-type="pageBlank" data-link=""
                                                            tabindex="0">
                                                            Sell Your Home
                                                        </a>
                                                    </li>
                                                    <li class="page subMenu__item show center"
                                                        data-anchor="" itemprop="name">
                                                        <a class="nav-item center"
                                                            href="contact.html" itemprop="url"
                                                            data-page-type="pageBlank" data-link=""
                                                            tabindex="0">
                                                            Contact
                                                        </a>
                                                    </li>
                                                </ul>
                                            </nav>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>