<% layout('./layouts/boilerplate.ejs')%> 

<body class="desktop  txlive ">




    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K4FZGP8" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div class="main-container">
        <div class="main-body">
            <div class="main-layout
">
                <div class="layers-container">
                    <div class="layer">
                        <div class="off-canvas right-alignment off-canvas-container" style="display:none;  width:20vw;">
                            <div class="off-canvas-close uci-close">
                                <svg fill="#999" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
                                    viewBox="0 0 24 24">
                                    <defs>
                                        <clipPath>
                                            <rect width="1em" height="1em" transform="translate(971 2389)">
                                            </rect>
                                        </clipPath>
                                    </defs>
                                    <g transform="translate(-971 -2389)">
                                        <path
                                            d="M20.5,23.124l-8.834,8.834a1.852,1.852,0,1,1-2.618-2.619L17.887,20.5,9.053,11.671a1.851,1.851,0,1,1,2.618-2.618L20.5,17.887l8.834-8.834a1.852,1.852,0,1,1,2.619,2.618L23.124,20.5l8.834,8.834a1.852,1.852,0,1,1-2.619,2.619Z"
                                            transform="translate(962.495 2380.495)">
                                        </path>
                                    </g>
                                </svg>
                            </div>
                            <div class="off-canvas-inner-container native-scroll-box y-scroll">
                                <div class="uc-row-wrapper">
                                    <div class="uc-row   last                       
                    
                                            " data-id="20" style="  ">
                                        <div id="r20" class="row-container ">
                                            <div class="row mainRow " style="">
                                                <div class="column col-sm-12 " dataColumn-id="20" style="     ">
                                                    <div class="column-container " style="" aria-label="column"
                                                        role="contentinfo">

                                                        <div class="module-container   only-mobile   align-center ModuleNavigation
                             first   last                             " aria-label="module container"
                                                            role="contentinfo" id="m31">

                                                            <div class="   module ModuleNavigation " dataModule-id="31">

                                                                <input type="hidden" class="standard-navigation">
                                                                <style>
                                                                    #navigation-31>.standard-view>.navigation>.page>.page-children {
                                                                        background: #f1f1f1;
                                                                    }

                                                                    #navigation-31>.standard-view>.navigation>.page>.page-children>.page>ul {
                                                                        background: #f1f1f1;
                                                                    }

                                                                    #navigation-31 .navigation>li.has-childes.page>ul a {
                                                                        padding: 0 15px;
                                                                    }


                                                                    #navigation-31 .navigation>li.has-childes.page>ul.page-children:after {
                                                                        height: 10px;
                                                                    }

                                                                    #navigation-31 ul.open-to-top::after {
                                                                        position: absolute;
                                                                        bottom: -10px;
                                                                    }

                                                                    #navigation-31 .page a {
                                                                        color: #353535;
                                                                        font-size: 14px;
                                                                        font-weight: 400;
                                                                        letter-spacing: 0px;
                                                                        text-transform: uppercase;
                                                                    }

                                                                    #navigation-31 .page a .uci-dropdown-arrow-down svg {
                                                                        fill: #353535;
                                                                    }

                                                                    #navigation-31>nav>ul>li.page:not(:last-child) {
                                                                        margin-bottom: 20px;
                                                                    }

                                                                    #navigation-31>nav>ul>li:first-child:nth-last-child(1) {
                                                                        margin-bottom: 40px;
                                                                    }

                                                                    #navigation-31 li.page>a:hover {
                                                                        color: rgb(221, 181, 93) !important;
                                                                    }

                                                                    #navigation-31 li.page.active>a {
                                                                        color: rgb(221, 181, 93);
                                                                    }

                                                                    #navigation-31 li.page.active>a:hover {
                                                                        color: rgba(29, 29, 29, 0.72) !important;
                                                                    }

                                                                    #navigation-31 li.page.active>a {
                                                                        color: rgb(221, 181, 93);
                                                                    }

                                                                    #navigation-31 li.page.active>a:hover {
                                                                        color: rgba(29, 29, 29, 0.72) !important;
                                                                    }

                                                                    #navigation-31 li.page>ul.page-children li.page a {
                                                                        color: #353535;
                                                                    }

                                                                    #navigation-31 li.page>ul.page-children li.page a .uci-dropdown-arrow-down svg {
                                                                        fill: #353535;
                                                                    }

                                                                    #navigation-31 li.page>ul.page-children>li.page a:hover,
                                                                    #navigation-31 li.page>ul.page-children>li.page>ul.page-children>li.page a:hover {
                                                                        color: #959595 !important;
                                                                    }

                                                                    #navigation-31 li.page>ul.page-children>li.page.active>a,
                                                                    #navigation-31 li.page>ul.page-children>li.page>ul.page-children>li.page.active>a {
                                                                        color: #353535;
                                                                    }

                                                                    #navigation-31 li.page>ul.page-children>li.page.active>a:hover,
                                                                    #navigation-31 li.page>ul.page-children>li.page>ul.page-children>li.page.active>a:hover {
                                                                        color: #959595 !important;
                                                                    }

                                                                    #navigation-31 .subMenu__show:before,
                                                                    #navigation-31 .subMenu__horizontal-arrow-left:before,
                                                                    #navigation-31 .subMenu__horizontal-arrow-right:before,
                                                                    #navigation-31 li.page>ul.page-children>li.has-childes>.page-children.pagesArrows>li:first-child:before {
                                                                        color: #f1f1f1;
                                                                    }

                                                                    #navigation-31 li.page>ul.page-children>li.page>a {
                                                                        color: #353535;
                                                                        font-size: 12px;
                                                                    }


                                                                    #navigation-31 li.page ul.page-children .page {
                                                                        padding-top: 5px;
                                                                        padding-bottom: 5px;
                                                                    }

                                                                    #navigation-31 li.page ul.page-children .page:last-child {
                                                                        padding-bottom: 5px;
                                                                    }

                                                                    #navigation-31 li.has-childes.page>a>.uci-dropdown-arrow-down svg {
                                                                        width: 8px;
                                                                        height: 8px;
                                                                        line-height: 10px;
                                                                    }

                                                                    #navigation-31 li.has-childes.page>.page-children.pagesArrows>.has-childes>a>.uci-dropdown-arrow-down svg {
                                                                        width: 7px;
                                                                        height: 7px;
                                                                        line-height: 12px;
                                                                    }

                                                                    #navigation-31 li.has-childes.page>.page-children li>a,
                                                                    #navigation-31 li.has-childes.page>.page-children li {
                                                                        text-align: center;
                                                                    }

                                                                    #navigation-31 li.page {
                                                                        text-align: center;
                                                                        ;
                                                                    }
                                                                </style>

                                                            
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="header-and-main-rows  ">
                   
                    <main class="main-rows">

                        <div class="uc-row-wrapper">
                            <div class="uc-row     first                       
                                            uc-animation staticParallax
                    
                                            " data-id="21" data-effect="staticParallax"
                                style="   margin-bottom:0vh;  ">
                                <div id="r21" class="row-container ">
                                    <div class="row mainRow " style="">
                                        <div class="column col-sm-12 " dataColumn-id="21"
                                            style="  padding:0vh 0vh;     ">
                                            <div class="column-container vertical-top" style="" aria-label="column"
                                                role="contentinfo">

                                                <div class="module-container   only-mobile   align-center ModuleImage
                             first   last                             " aria-label="module container"
                                                    role="contentinfo" id="m32">

                                                    <div class="   module ModuleImage " dataModule-id="32">

                                                        <div class="animated animated-32 " data-loading-animation=""
                                                            data-animated-id="32">
                                                            <div class=" ">
                                                                <div>
                                                                    <div class="fixed-ratio"
                                                                        style="padding-bottom: 26.666666666667%">
                                                                        <img class="image fixed-ratio-content "
                                                                            width="1920px" height="318px" style=""
                                                                            loading="lazy"
                                                                            src="../static.ucraft.net/fs/ucraft/userFiles/thpgroup/images/04771920318217-H59WxBNSQY8b18f.jpg?v=1586970954"
                                                                            alt="04771920318217-H59WxBNSQY8.jpg" />

                                                                    </div>

                                                                </div>
                                                            </div>
                                                        </div>


                                                        <div class="uc-row-wrapper">
                                                            <div class="uc-row   row-on-module uc-row-public   first                       
                    
                                            " data-id="22" style="  ">
                                                                <div id="r22" class="row-container ">
                                                                    <div class="row mainRow " style="">
                                                                        <div class="column col-sm-12 "
                                                                            dataColumn-id="22" style="     ">
                                                                            <div class="column-container " style=""
                                                                                aria-label="column" role="contentinfo">

                                                                                <div class="module-container   only-mobile   align-center ModuleTitle
                             first   last                             " aria-label="module container"
                                                                                    role="contentinfo" id="m33">

                                                                                    <div class="   module ModuleTitle "
                                                                                        dataModule-id="33">

                                                                                        <div class="uc-content">
                                                                                            <h1
                                                                                                style="color:rgb(255, 255, 255)">
                                                                                                CONTACT US</h1>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>


                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>

                        <div class="uc-row-wrapper">
                            <div class="uc-row                          
                                            uc-animation staticParallax
                    
                                            " data-id="23" data-effect="staticParallax"
                                style="   margin-bottom:0vh;  background:rgba(238, 238, 238, 0.66);">
                                <div id="r23" class="row-container  container ">
                                    <div class="row mainRow " style="">
                                        <div class="column col-sm-4 " dataColumn-id="23"
                                            style="  padding:8.324324324324325vh 0vh;     ">
                                            <div class="column-container vertical-top" style="" aria-label="column"
                                                role="contentinfo">

                                                <div class="module-container   only-mobile   align-center ModuleIcon
                             first                              " style=" ; padding-bottom:3.690036900369vh ; "
                                                    aria-label="module container" role="contentinfo" id="m34">

                                                    <div class="   module ModuleIcon " dataModule-id="34">

                                                        <div class="icon"
                                                            style="width:45px;height:45px; color:rgb(221, 181, 93); fill:rgb(221, 181, 93);">
                                                            <svg viewbox="0 0 100 87.5" version="1.1"
                                                                xmlns="http://www.w3.org/2000/svg"
                                                                xmlns:xlink="http://www.w3.org/1999/xlink">
                                                                <g transform="scale(0.1953125)">
                                                                    <path
                                                                        d="M480,320v128H32V320h78.859l64.016,96h162.25l64-96H480 M384,32H128L0,288v192h512V288L384,32L384,32z M35.781,288l112-224  h216.438l112,224H384l-64,96H192l-64.016-96H35.781L35.781,288z"
                                                                        transform="translate(0,-32)"></path>
                                                                </g>
                                                            </svg>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="module-container   only-mobile   align-center ModuleTitle
                              last                             " aria-label="module container" role="contentinfo"
                                                    id="m35">

                                                    <div class="   module ModuleTitle " dataModule-id="35">

                                                        <div class="uc-content">
                                                            <h5>Theo Ogunribido<br>theo@tbladerealty.com</h5>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="column col-sm-4 " dataColumn-id="24"
                                            style="  padding:8.324324324324325vh 0vh;     ">
                                            <div class="column-container vertical-top" style="" aria-label="column"
                                                role="contentinfo">

                                                <div class="module-container   only-mobile   align-center ModuleIcon
                             first                              " style=" ; padding-bottom:3.690036900369vh ; "
                                                    aria-label="module container" role="contentinfo" id="m36">

                                                    <div class="   module ModuleIcon " dataModule-id="36">

                                                        <div class="icon"
                                                            style="width:45px;height:45px; color:rgb(221, 181, 93); fill:rgb(221, 181, 93);">
                                                            <a target="_blank" rel="noopener noreferrer"
                                                                href="confirmation-page.html" data-link="20"
                                                                data-linkType="1" tabindex="0">
                                                                <svg viewbox="0 0 100 100" version="1.1"
                                                                    xmlns="http://www.w3.org/2000/svg"
                                                                    xmlns:xlink="http://www.w3.org/1999/xlink">
                                                                    <g transform="scale(1.4388487629130233)">
                                                                        <path
                                                                            d="M42.9,32.3L25.3,14.6l-3.8,3.8c-3.7,3.7-5.7,8.6-5.7,13.8s2,10.1,5.7,13.8l32.4,32.4c3.7,3.7,8.6,5.7,13.8,5.7  c5.2,0,10.1-2,13.8-5.7l3.8-3.8L67.7,57.1l-1.8,1.8c-1.4,1.4-3.3,2.2-5.3,2.2s-3.9-0.8-5.3-2.2L41.2,44.7c-2.9-2.9-2.9-7.7,0-10.6  L42.9,32.3z M78,75.1c-2.8,2.8-6.4,4.3-10.3,4.3c-3.9,0-7.6-1.5-10.3-4.3L24.9,42.6c-2.8-2.8-4.3-6.4-4.3-10.3s1.5-7.6,4.3-10.3  l0.3-0.3L36,32.5c-1.3,2-2.1,4.4-2.1,6.9c0,3.3,1.3,6.5,3.7,8.8l14.1,14.1c2.4,2.4,5.5,3.7,8.8,3.7c2.5,0,4.9-0.7,6.9-2.1l10.8,10.8  L78,75.1z"
                                                                            transform="translate(-15.800000190734863,-14.600000381469727)">
                                                                        </path>
                                                                    </g>
                                                                </svg>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="module-container   only-mobile   align-center ModuleTitle
                              last                             " aria-label="module container" role="contentinfo"
                                                    id="m37">

                                                    <div class="   module ModuleTitle " dataModule-id="37">

                                                        <div class="uc-content">
                                                            <h5>202-473-4243</h5>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="column col-sm-4 " dataColumn-id="25"
                                            style="  padding:8.324324324324325vh 0vh;     ">
                                            <div class="column-container vertical-top" style="" aria-label="column"
                                                role="contentinfo">

                                                <div class="module-container   only-mobile   align-center ModuleIcon
                             first                              " style=" ; padding-bottom:3.690036900369vh ; "
                                                    aria-label="module container" role="contentinfo" id="m38">

                                                    <div class="   module ModuleIcon " dataModule-id="38">

                                                        <div class="icon"
                                                            style="width:45px;height:45px; color:rgb(221, 181, 93); fill:rgb(221, 181, 93);">
                                                            <svg viewbox="0 0 74.65684509277344 100" version="1.1"
                                                                xmlns="http://www.w3.org/2000/svg"
                                                                xmlns:xlink="http://www.w3.org/1999/xlink">
                                                                <g transform="scale(1.5884095738905177)">
                                                                    <g>
                                                                        <path
                                                                            d="M50,18.522c-12.958,0-23.5,10.542-23.5,23.5c0,4.137,1.089,8.204,3.146,11.753l13.524,23.417   c1.573,2.724,4.062,4.286,6.831,4.286c2.768,0,5.257-1.562,6.83-4.286l13.521-23.411c2.061-3.556,3.149-7.623,3.149-11.76   C73.5,29.064,62.958,18.522,50,18.522z M66.024,51.275L52.5,74.692c-1.375,2.382-3.625,2.382-5.001,0L33.976,51.275   c-1.579-2.725-2.476-5.878-2.476-9.253c0-10.218,8.282-18.5,18.5-18.5s18.5,8.282,18.5,18.5   C68.5,45.397,67.603,48.55,66.024,51.275z M50,50.522c-4.687,0-8.5-3.813-8.5-8.5s3.813-8.5,8.5-8.5s8.5,3.813,8.5,8.5   S54.687,50.522,50,50.522z M53.5,42.022c0-1.93-1.57-3.5-3.5-3.5s-3.5,1.57-3.5,3.5s1.57,3.5,3.5,3.5S53.5,43.952,53.5,42.022z"
                                                                            transform="translate(-26.5,-18.52199935913086)">
                                                                        </path>
                                                                    </g>
                                                                </g>
                                                            </svg>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="module-container   only-mobile   align-center ModuleTitle
                              last                             " style=" padding: 0px 0px 0px 0px  "
                                                    aria-label="module container" role="contentinfo" id="m39">

                                                    <div class="   module ModuleTitle " dataModule-id="39">

                                                        <div class="uc-content">
                                                            <h5>2032, SilverSpring MD</h5>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>

                        <div class="uc-row-wrapper">
                            <div class="uc-row                          
                    
                                            " data-id="24" style="   margin-bottom:0vh;  ">
                               

                            </div>
                        </div>

                        <section class="mb-32">
                            <div id="map" class="relative h-[300px] overflow-hidden bg-cover bg-[50%] bg-no-repeat">
                              <iframe
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11672.945750644447!2d-122.42107853750231!3d37.7730507907087!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80858070cc2fbd55%3A0xa71491d736f62d5c!2sGolden%20Gate%20Bridge!5e0!3m2!1sen!2sus!4v1619524992238!5m2!1sen!2sus"
                                width="100%" height="480" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                            </div>
                            <div class="container px-6 md:px-12">
                              <div
                                class="block rounded-lg bg-[hsla(0,0%,100%,0.8)] px-6 py-12 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)]  md:py-16 md:px-12 -mt-[100px] backdrop-blur-[30px] border border-gray-300">
                                <div class="flex flex-wrap">
                                  <div class="mb-12 w-full shrink-0 grow-0 basis-auto md:px-3 lg:mb-0 lg:w-5/12 lg:px-6">
                                    <form>
                                      <div class="relative mb-6" data-te-input-wrapper-init>
                                        <input type="text"
                                            class="peer block min-h-[auto] w-full rounded border-2 bg-transparent py-[0.32rem] px-3 leading-[1.6] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 peer-focus:text-primary data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none "
                                            id="exampleInput90" />
                                        <label
                                            class="pointer-events-none absolute top-0 left-3 mb-0 max-w-[90%] origin-[0_0] truncate pt-[0.37rem] leading-[1.6] text-neutral-500 transition-all duration-200 ease-out peer-focus:-translate-y-[0.9rem] peer-focus:scale-[0.8] peer-focus:text-primary peer-data-[te-input-state-active]:-translate-y-[0.9rem] peer-data-[te-input-state-active]:scale-[0.8] motion-reduce:transition-none "
                                            for="exampleInput90">Name
                                          </label>
                                      </div>
                                      <div class="relative mb-6" data-te-input-wrapper-init>
                                        <input type="email"
                                            class="peer block min-h-[auto] w-full rounded border-2 bg-transparent py-[0.32rem] px-3 leading-[1.6] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 peer-focus:text-primary data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none "
                                            id="exampleInput91" />
                                        <label
                                            class="pointer-events-none absolute top-0 left-3 mb-0 max-w-[90%] origin-[0_0] truncate pt-[0.37rem] leading-[1.6] text-neutral-500 transition-all duration-200 ease-out peer-focus:-translate-y-[0.9rem] peer-focus:scale-[0.8] peer-focus:text-primary peer-data-[te-input-state-active]:-translate-y-[0.9rem] peer-data-[te-input-state-active]:scale-[0.8] motion-reduce:transition-none "
                                            for="exampleInput91">Email address
                                          </label>
                                      </div>
                                      <div class="relative mb-6" data-te-input-wrapper-init>
                                        <textarea
                                            class="peer block min-h-[auto] w-full rounded border-2 bg-transparent py-[0.32rem] px-3 leading-[1.6] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none "
                                            id="exampleFormControlTextarea1" rows="3"></textarea>
                                        <label for="exampleFormControlTextarea1"
                                            class="pointer-events-none absolute top-0 left-3 mb-0 max-w-[90%] origin-[0_0] truncate pt-[0.37rem] leading-[1.6] text-neutral-500 transition-all duration-200 ease-out peer-focus:-translate-y-[0.9rem] peer-focus:scale-[0.8] peer-focus:text-primary peer-data-[te-input-state-active]:-translate-y-[0.9rem] peer-data-[te-input-state-active]:scale-[0.8] motion-reduce:transition-none ">Message</label>
                                      </div>
                                      <div class="mb-6 inline-block min-h-[1.5rem] justify-center pl-[1.5rem] md:flex">
                                        <input
                                            class="relative float-left mt-[0.15rem] mr-[6px] -ml-[1.5rem] h-[1.125rem] w-[1.125rem] appearance-none rounded-[0.25rem] border-[0.125rem] border-solid border-neutral-300 outline-none before:pointer-events-none before:absolute before:h-[0.875rem] before:w-[0.875rem] before:scale-0 before:rounded-full before:bg-transparent before:opacity-0 before:shadow-[0px_0px_0px_13px_transparent] before:content-[''] checked:border-primary checked:bg-primary checked:before:opacity-[0.16] checked:after:absolute checked:after:ml-[0.25rem] checked:after:-mt-px checked:after:block checked:after:h-[0.8125rem] checked:after:w-[0.375rem] checked:after:rotate-45 checked:after:border-[0.125rem] checked:after:border-t-0 checked:after:border-l-0 checked:after:border-solid checked:after:border-white checked:after:bg-transparent checked:after:content-[''] hover:cursor-pointer hover:before:opacity-[0.04] hover:before:shadow-[0px_0px_0px_13px_rgba(0,0,0,0.6)] focus:shadow-none focus:transition-[border-color_0.2s] focus:before:scale-100 focus:before:opacity-[0.12] focus:before:shadow-[0px_0px_0px_13px_rgba(0,0,0,0.6)] focus:before:transition-[box-shadow_0.2s,transform_0.2s] focus:after:absolute focus:after:z-[1] focus:after:block focus:after:h-[0.875rem] focus:after:w-[0.875rem] focus:after:rounded-[0.125rem] focus:after:content-[''] checked:focus:before:scale-100 checked:focus:before:shadow-[0px_0px_0px_13px_#3b71ca] checked:focus:before:transition-[box-shadow_0.2s,transform_0.2s] checked:focus:after:ml-[0.25rem] checked:focus:after:-mt-px checked:focus:after:h-[0.8125rem] checked:focus:after:w-[0.375rem] checked:focus:after:rotate-45 checked:focus:after:rounded-none checked:focus:after:border-[0.125rem] checked:focus:after:border-t-0 checked:focus:after:border-l-0 checked:focus:after:border-solid checked:focus:after:border-white checked:focus:after:bg-transparent "
                                            type="checkbox" value="" id="exampleCheck96" checked />
                                        <label class="inline-block pl-[0.15rem] hover:cursor-pointer" for="exampleCheck96">
                                            Send me a copy of this message
                                          </label>
                                      </div>
                                      <button type="button"
                                          class="mb-6 w-full rounded bg-sky-500 text-white px-6 pt-2.5 pb-2 text-xs font-medium uppercase leading-normal   lg:mb-0">
                                          Send
                                        </button>
                                    </form>
                                  </div>
                                  <div class="w-full shrink-0 grow-0 basis-auto lg:w-7/12">
                                    <div class="flex flex-wrap">
                                      <div class="mb-12 w-full shrink-0 grow-0 basis-auto md:w-6/12 md:px-3 lg:w-full lg:px-6 xl:w-6/12">
                                        <div class="flex items-start">
                                          <div class="shrink-0">
                                            <div class="inline-block rounded-md bg-sky-200 p-4 text-primary">
                                              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                                                stroke="currentColor" class="h-6 w-6">
                                                <path stroke-linecap="round" stroke-linejoin="round"
                                                  d="M14.25 9.75v-4.5m0 4.5h4.5m-4.5 0l6-6m-3 18c-8.284 0-15-6.716-15-15V4.5A2.25 2.25 0 014.5 2.25h1.372c.516 0 .966.351 1.091.852l1.106 4.423c.11.44-.054.902-.417 1.173l-1.293.97a1.062 1.062 0 00-.38 1.21 12.035 12.035 0 007.143 7.143c.441.162.928-.004 1.21-.38l.97-1.293a1.125 1.125 0 011.173-.417l4.423 1.106c.5.125.852.575.852 1.091V19.5a2.25 2.25 0 01-2.25 2.25h-2.25z" />
                                              </svg>
                                            </div>
                                          </div>
                                          <div class="ml-6 grow">
                                            <p class="mb-2 font-bold ">
                                              Technical support
                                            </p>
                                            <p class="text-sm text-neutral-500">
                                                theo@tbladerealty.com                                            </p>
                                            <p class="text-sm text-neutral-500">
                                              1-600-890-4567
                                            </p>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="mb-12 w-full shrink-0 grow-0 basis-auto md:w-6/12 md:px-3 lg:w-full lg:px-6 xl:w-6/12">
                                        <div class="flex items-start">
                                          <div class="srink-0">
                                            <div class="inline-block rounded-md bg-sky-200 p-4 text-primary">
                                              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                                                stroke="currentColor" class="w-7 h-7">
                                                <path stroke-linecap="round" stroke-linejoin="round"
                                                  d="M15 9h3.75M15 12h3.75M15 15h3.75M4.5 19.5h15a2.25 2.25 0 002.25-2.25V6.75A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25v10.5A2.25 2.25 0 004.5 19.5zm6-10.125a1.875 1.875 0 11-3.75 0 1.875 1.875 0 013.75 0zm1.294 6.336a6.721 6.721 0 01-3.17.789 6.721 6.721 0 01-3.168-.789 3.376 3.376 0 016.338 0z" />
                                              </svg>
                                            </div>
                                          </div>
                                          <div class="ml-6 grow">
                                            <p class="mb-2 font-bold ">
                                              Address
                                            </p>
                                            <p class="text-sm text-neutral-500">
                                              abcd, <br>
                                                  xyz <br>
                                            </p>
                                          </div>
                                        </div>
                                      </div>
                                      <div
                                        class="mb-12 w-full shrink-0 grow-0 basis-auto md:mb-0 md:w-6/12 md:px-3 lg:mb-12 lg:w-full lg:px-6 xl:w-6/12">
                                        <div class="align-start flex">
                                          <div class="shrink-0">
                                            <div class="inline-block rounded-md bg-sky-200 p-4 text-primary">
                                              <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                                                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" class="w-7 h-7"
                                                viewBox="0 0 111.756 122.879" enable-background="new 0 0 111.756 122.879" xml:space="preserve">
                                                <g>
                                                  <path
                                                    d="M27.953,5.569v96.769h19.792V5.569H37.456H27.953L27.953,5.569z M21.898,105.123V2.785C21.898,1.247,23.254,0,24.926,0 h12.53h13.316C52.443,0,53.8,1.247,53.8,2.785v102.338c0,1.537-1.356,2.783-3.028,2.783H24.926 C23.254,107.906,21.898,106.66,21.898,105.123L21.898,105.123z M13.32,17.704c1.671,0,3.027,1.247,3.027,2.785 s-1.355,2.784-3.027,2.784H7.352c-0.161,0-0.292,0.022-0.39,0.064c-0.129,0.056-0.276,0.166-0.429,0.325 c-0.161,0.167-0.281,0.346-0.353,0.528c-0.083,0.208-0.125,0.465-0.125,0.759v90.803c0,0.287,0.043,0.537,0.125,0.74l0.034,0.092 c0.068,0.135,0.165,0.264,0.284,0.383c0.126,0.125,0.258,0.217,0.39,0.27c0.123,0.051,0.279,0.074,0.466,0.074h97.052 c0.188,0,0.346-0.025,0.467-0.074c0.133-0.053,0.264-0.145,0.389-0.27c3.035-3.035,0.441,1.799,0.441-1.215V24.949 c0-3.667,3.039,2.357-0.477-1.288c-0.143-0.146-0.287-0.254-0.43-0.314c-0.113-0.048-0.246-0.075-0.391-0.075H62.563 c-1.672,0-3.027-1.247-3.027-2.784s1.355-2.785,3.027-2.785h41.842c1.041,0,2.029,0.204,2.943,0.597 c0.895,0.385,1.699,0.945,2.393,1.663c0.664,0.686,1.17,1.468,1.514,2.334c0.332,0.839,0.502,1.726,0.502,2.652v90.803 c0,0.938-0.168,1.826-0.502,2.654c-0.344,0.859-0.865,1.639-1.549,2.324c-0.701,0.703-1.506,1.234-2.398,1.598 c-0.906,0.367-1.879,0.551-2.902,0.551H7.352c-1.022,0-1.995-0.184-2.901-0.551c-0.894-0.363-1.698-0.896-2.399-1.598 c-0.621-0.623-1.107-1.33-1.45-2.107c-0.036-0.07-0.069-0.143-0.099-0.217C0.168,117.574,0,116.684,0,115.752V24.949 c0-0.921,0.17-1.811,0.504-2.652c0.342-0.863,0.849-1.648,1.512-2.334c0.683-0.707,1.488-1.263,2.393-1.652 c0.929-0.401,1.917-0.607,2.943-0.607H13.32L13.32,17.704z M65.902,29.03h27.049c0.803,0,1.566,0.145,2.291,0.431 c0.076,0.03,0.15,0.063,0.223,0.099c0.607,0.269,1.166,0.635,1.666,1.096c0.584,0.533,1.027,1.128,1.326,1.782 c0.047,0.104,0.088,0.21,0.119,0.317c0.225,0.584,0.34,1.189,0.34,1.812v12.611c0,0.744-0.156,1.45-0.459,2.118l-0.004,0.009 l0.004,0.002c-0.291,0.64-0.725,1.224-1.291,1.75c-0.58,0.546-1.227,0.956-1.932,1.231c-0.736,0.287-1.5,0.426-2.283,0.426H65.902 c-0.777,0-1.535-0.14-2.27-0.426c-0.693-0.269-1.33-0.668-1.912-1.198c-0.588-0.539-1.031-1.144-1.326-1.81 c-0.033-0.078-0.063-0.157-0.09-0.235c-0.234-0.605-0.35-1.228-0.35-1.867V34.567c0-0.723,0.146-1.424,0.445-2.099l-0.006-0.002 c0.295-0.666,0.738-1.271,1.326-1.81l0.037-0.032l-0.002-0.001c0.877-0.78,2.039-1.219,2.119-1.244 C64.537,29.147,65.215,29.03,65.902,29.03L65.902,29.03z M93.475,34.599h-28.08v12.547h28.08V34.599L93.475,34.599z M78.877,63.42 c1.072,0,2.01,0.41,2.807,1.207s1.188,1.734,1.188,2.785c0,1.148-0.389,2.104-1.188,2.865c-0.799,0.758-1.734,1.129-2.807,1.129 c-1.129,0-2.084-0.371-2.844-1.129c-0.76-0.762-1.148-1.717-1.148-2.865c0-1.051,0.391-1.988,1.148-2.785 S77.748,63.42,78.877,63.42L78.877,63.42z M90.977,63.42c1.072,0,2.008,0.41,2.805,1.207s1.189,1.734,1.189,2.785 c0,1.148-0.391,2.104-1.189,2.865c-0.799,0.758-1.732,1.129-2.805,1.129c-1.131,0-2.086-0.371-2.846-1.129 c-0.76-0.762-1.148-1.717-1.148-2.865c0-1.051,0.391-1.988,1.148-2.785S89.846,63.42,90.977,63.42L90.977,63.42z M66.662,75.518 c1.15,0,2.105,0.389,2.865,1.148s1.129,1.715,1.129,2.865c0,1.051-0.371,1.988-1.129,2.785s-1.715,1.209-2.865,1.209 c-1.053,0-1.988-0.412-2.785-1.209s-1.209-1.734-1.209-2.785c0-1.15,0.41-2.105,1.209-2.865S65.609,75.518,66.662,75.518 L66.662,75.518z M78.877,75.518c1.072,0,2.008,0.389,2.807,1.148s1.188,1.715,1.188,2.865c0,1.051-0.391,1.988-1.188,2.785 s-1.734,1.209-2.807,1.209c-1.129,0-2.086-0.412-2.844-1.209s-1.148-1.734-1.148-2.785c0-1.15,0.389-2.105,1.148-2.865 S77.748,75.518,78.877,75.518L78.877,75.518z M90.977,75.518c1.072,0,2.006,0.389,2.805,1.148s1.189,1.715,1.189,2.865 c0,1.051-0.393,1.988-1.189,2.785s-1.732,1.209-2.805,1.209c-1.131,0-2.088-0.412-2.846-1.209s-1.148-1.734-1.148-2.785 c0-1.15,0.389-2.105,1.148-2.865S89.846,75.518,90.977,75.518L90.977,75.518z M66.662,87.518c1.15,0,2.107,0.393,2.865,1.189 s1.129,1.773,1.129,2.922c0,1.053-0.369,1.988-1.129,2.787s-1.715,1.207-2.865,1.207c-1.053,0-1.986-0.408-2.785-1.207 s-1.209-1.734-1.209-2.787c0-1.148,0.412-2.125,1.209-2.922S65.609,87.518,66.662,87.518L66.662,87.518z M78.877,87.518 c1.072,0,2.01,0.393,2.807,1.189s1.188,1.773,1.188,2.922c0,1.053-0.389,1.988-1.188,2.787s-1.734,1.207-2.807,1.207 c-1.129,0-2.084-0.408-2.844-1.207s-1.148-1.734-1.148-2.787c0-1.148,0.391-2.125,1.148-2.922S77.748,87.518,78.877,87.518 L78.877,87.518z M90.977,87.518c1.072,0,2.008,0.393,2.805,1.189s1.189,1.773,1.189,2.922c0,1.053-0.391,1.988-1.189,2.787 s-1.732,1.207-2.805,1.207c-1.131,0-2.086-0.408-2.846-1.207s-1.148-1.734-1.148-2.787c0-1.148,0.391-2.125,1.148-2.922 S89.846,87.518,90.977,87.518L90.977,87.518z M78.877,99.617c1.072,0,2.008,0.389,2.807,1.188s1.188,1.734,1.188,2.807 c0,1.129-0.389,2.084-1.188,2.844s-1.734,1.148-2.807,1.148c-1.129,0-2.084-0.389-2.844-1.148s-1.148-1.715-1.148-2.844 c0-1.072,0.389-2.008,1.148-2.807S77.748,99.617,78.877,99.617L78.877,99.617z M66.662,63.42c1.15,0,2.107,0.41,2.865,1.207 s1.129,1.734,1.129,2.785c0,1.148-0.369,2.104-1.129,2.865c-0.76,0.758-1.715,1.129-2.865,1.129c-1.053,0-1.986-0.371-2.785-1.129 c-0.799-0.762-1.209-1.717-1.209-2.865c0-1.051,0.412-1.988,1.209-2.785S65.609,63.42,66.662,63.42L66.662,63.42z" />
                                                </g>
                                              </svg>
                          
                                            </div>
                                          </div>
                                          <div class="ml-6 grow">
                                            <p class="mb-2 font-bold ">Land Line</p>
                                            <p class="text-neutral-500"> (0421) 431 2030
                                            </p>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="w-full shrink-0 grow-0 basis-auto md:w-6/12 md:px-3 lg:w-full lg:px-6 xl:mb-12 xl:w-6/12">
                                        <div class="align-start flex">
                                          <div class="shrink-0">
                                            <div class="inline-block rounded-md bg-sky-200 p-4 text-primary">
                                              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                                stroke="currentColor" class="w-6 h-6">
                                                <path stroke-linecap="round" stroke-linejoin="round"
                                                  d="M10.5 1.5H8.25A2.25 2.25 0 006 3.75v16.5a2.25 2.25 0 002.25 2.25h7.5A2.25 2.25 0 0018 20.25V3.75a2.25 2.25 0 00-2.25-2.25H13.5m-3 0V3h3V1.5m-3 0h3m-3 18.75h3" />
                                              </svg>
                                            </div>
                                          </div>
                                          <div class="ml-6 grow">
                                            <p class="mb-2 font-bold ">Mobile</p>
                                            <p class="text-neutral-500"> +91 123456789
                                            </p>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </section>

                        <div class="uc-row-wrapper">
                            <div class="uc-row     last                       
                    
                                            " data-id="26" style="   margin-bottom:0vh;  ">
                                <div id="r26" class="row-container  container ">
                                    <div class="row mainRow " style="">
                                        <div class="column col-sm-12 " dataColumn-id="28"
                                            style="  padding:0vh 0vh;     ">
                                            <div class="column-container vertical-top" style=" margin-top:0vh; "
                                                aria-label="column" role="contentinfo">

                                                <div class="module-container   only-mobile   align-center ModuleImage
                             first   last                             " style=" padding: 0px 0px 0px 0px  "
                                                    aria-label="module container" role="contentinfo" id="m44">

                                                    <div class="full-width    module ModuleImage " dataModule-id="44"
                                                        style=" max-width:100%;">

                                                        <div class="animated animated-44 " data-loading-animation=""
                                                            data-animated-id="44">
                                                            <div class=" " style="height: 350px">

                                                                <div data-loading-animation="">
                                                                    <img class="cover-image image" loading="lazy" style=" 
                                object-position: 50% 50%;
                            " src="../static.ucraft.net/fs/ucraft/userFiles/thpgroup/images/03732560853412-sample1b18f.jpg?v=1586970954"
                                                                        alt="03732560853412-sample1.jpg" />
                                                                </div>


                                                            </div>
                                                        </div>


                                                        <div class="uc-row-wrapper">
                                                            <div class="uc-row   row-on-module uc-row-public   last                       
                    
                                            " data-id="27" style="  ">
                                                                <div id="r27" class="row-container  container ">
                                                                    <div class="row mainRow " style="">
                                                                        <div class="column col-sm-12 "
                                                                            dataColumn-id="29"
                                                                            style="      background: rgb(242, 242, 242); ">
                                                                            <div class="column-container " style=""
                                                                                aria-label="column" role="contentinfo">

                                                                                <div class="module-container   only-mobile   align-center ModuleTitle
                             first                              " style=" padding: 0px 0px 0px 0px  "
                                                                                    aria-label="module container"
                                                                                    role="contentinfo" id="m45">

                                                                                    <div class="   module ModuleTitle "
                                                                                        dataModule-id="45">

                                                                                        <div class="uc-content">
                                                                                            <h2>Are You Interested in
                                                                                                Investing in Real
                                                                                                Estate?</h2>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>

                                                                                <div class="module-container   only-mobile   align-center ModuleParagraph
                              last                             " style=" padding: 0px 40px 0px 40px  "
                                                                                    aria-label="module container"
                                                                                    role="contentinfo" id="m46">

                                                                                    <div class="   module ModuleParagraph "
                                                                                        dataModule-id="46"
                                                                                        style="display:block;max-width:620px;">

                                                                                        <div class="uc-content">
                                                                                            <h5
                                                                                                style="color:rgb(53, 53, 53);">
                                                                                                Learn How to Put Your
                                                                                                Capital to Work HERE
                                                                                            </h5>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>


                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </main>
                    <div class="push"></div>
                </div>


           
            </div>
        </div>
        <div class="accounts-popup">
            <div class="loading-container">
                <div class="loading-spinner"></div>
            </div>
            <iframe id="accounts-iframe" style="border: none;"></iframe>
        </div>
    </div>
    <div class="module-datepicker-container"></div>


    <!-- Auth token -->
    <script defer type="text/javascript">
        var anchorMapping = "[]";
        var page = { "margin": 1.85, "published": 1, "id": 12, "title": "Contact", "alias": "contact", "component": null, "type": "pageBlank", "target": 0, "homepage": 0, "isHeading": 0, "isHidden": 0, "externalUrl": "", "navigationId": 0, "parentPageId": null, "ordering": 5, "seoParams": { "state": 0, "pageTitle": "Contact", "description": "" }, "createdAt": null, "updatedAt": null, "deletedAt": null, "seo": { "state": 0, "pageTitle": "Contact", "description": "" }, "status": 200, "parent": null };
        var currentLanguageObject = { "id": 1, "ordering": 1, "title": "English", "region": "United States", "language": "en-us", "prefix": "en", "locale": "en", "flag": "https:\/\/static.ucraft.net\/assets\/images\/flags64\/en-us.svg?v=1708586951", "default": 1, "published": 1, "updatedAt": "2020-04-15T17:16:00.000000Z", "createdAt": "2015-11-23T00:00:00.000000Z", "deletedAt": "1970-01-01 12:00:00", "enforceUnicodeAliases": 0, "unicodeCharactersReplacement": "\u00c0|A, \u00c1|A, \u00c2|A, \u00c3|A, \u00c4|A, \u00c5|A, \u00e0|a, \u00e1|a, \u00e2|a, \u00e3|a, \u00e4|a, \u00e5|a, \u0100|A, \u0101|a, \u0102|A, \u0103|a, \u0104|A, \u0105|a, \u00c7|C, \u00e7|c, \u0106|C, \u0107|c, \u0108|C, \u0109|c, \u010a|C, \u010b|c, \u010c|C, \u010d|c, \u00d0|D, \u00f0|d, \u010e|D, \u010f|d, \u0110|D, \u0111|d, \u00c8|E, \u00c9|E, \u00ca|E, \u00cb|E, \u00e8|e, \u00e9|e, \u00ea|e, \u00eb|e, \u0112|E, \u0113|e, \u0114|E, \u0115|e, \u0116|E, \u0117|e, \u0118|E, \u0119|e, \u011a|E, \u011b|e, \u011c|G, \u011d|g, \u011e|G, \u011f|g, \u0120|G, \u0121|g, \u0122|G, \u0123|g, \u0124|H, \u0125|h, \u0126|H, \u0127|h, \u00cc|I, \u00cd|I, \u00ce|I, \u00cf|I, \u00ec|i, \u00ed|i, \u00ee|i, \u00ef|i, \u0128|I, \u0129|i, \u012a|I, \u012b|i, \u012c|I, \u012d|i, \u012e|I, \u012f|i, \u0130|I, \u0131|i, \u0134|J, \u0135|j, \u0136|K, \u0137|k, \u0138|k, \u0139|L, \u013a|l, \u013b|L, \u013c|l, \u013d|L, \u013e|l, \u013f|L, \u0140|l, \u0141|L, \u0142|l, \u00d1|N, \u00f1|n, \u0143|N, \u0144|n, \u0145|N, \u0146|n, \u0147|N, \u0148|n, \u0149|n, \u014a|N, \u014b|n, \u00d2|O, \u00d3|O, \u00d4|O, \u00d5|O, \u00d6|O, \u00d8|O, \u00f2|o, \u00f3|o, \u00f4|o, \u00f5|o, \u00f6|o, \u00f8|o, \u014c|O, \u014d|o, \u014e|O, \u014f|o, \u0150|O, \u0151|o, \u0154|R, \u0155|r, \u0156|R, \u0157|r, \u0158|R, \u0159|r, \u015a|S, \u015b|s, \u015c|S, \u015d|s, \u015e|S, \u015f|s, \u0160|S, \u0161|s, \u017f|s, \u0162|T, \u0163|t, \u0164|T, \u0165|t, \u0166|T, \u0167|t, \u00d9|U, \u00da|U, \u00db|U, \u00dc|U, \u00f9|u, \u00fa|u, \u00fb|u, \u00fc|u, \u0168|U, \u0169|u, \u016a|U, \u016b|u, \u016c|U, \u016d|u, \u016e|U, \u016f|u, \u0170|U, \u0171|u, \u0172|U, \u0173|u, \u0174|W, \u0175|w, \u00dd|Y, \u00fd|y, \u00ff|y, \u0176|Y, \u0177|y, \u0178|Y, \u0179|Z, \u017a|z, \u017b|Z, \u017c|z, \u017d|Z, \u017e|z, \u03b1|a, \u03b2|b, \u03b3|g, \u03b4|d, \u03b5|e, \u03b6|z, \u03b7|h, \u03b8|th, \u03b9|i, \u03ba|k, \u03bb|l, \u03bc|m, \u03bd|n, \u03be|x, \u03bf|o, \u03c0|p, \u03c1|r, \u03c3|s, \u03c4|t, \u03c5|y, \u03c6|f, \u03c7|ch, \u03c8|ps, \u03c9|w, \u0391|A, \u0392|B, \u0393|G, \u0394|D, \u0395|E, \u0396|Z, \u0397|H, \u0398|Th, \u0399|I, \u039a|K, \u039b|L, \u039c|M, \u039e|X, \u039f|O, \u03a0|P, \u03a1|R, \u03a3|S, \u03a4|T, \u03a5|Y, \u03a6|F, \u03a7|Ch, \u03a8|Ps, \u03a9|W, \u03ac|a, \u03ad|e, \u03ae|h, \u03af|i, \u03cc|o, \u03cd|y, \u03ce|w, \u0386|A, \u0388|E, \u0389|H, \u038a|I, \u038c|O, \u038e|Y, \u038f|W, \u03ca|i, \u0390|i, \u03cb|y, \u03c2|s, \u0410|A, \u04d0|A, \u04d2|A, \u04d8|E, \u04da|E, \u04d4|E, \u0411|B, \u0412|V, \u0413|G, \u0490|G, \u0403|G, \u0492|G, \u04f6|G, y|Y, \u0414|D, \u0415|E, \u0400|E, \u0401|YO, \u04d6|E, \u04bc|E, \u04be|E, \u0404|YE, \u0416|ZH, \u04c1|DZH, \u0496|ZH, \u04dc|DZH, \u0417|Z, \u0498|Z, \u04de|DZ, \u04e0|DZ, \u0405|DZ, \u0418|I, \u040d|I, \u04e4|I, \u04e2|I, \u0406|I, \u0407|JI, \u04c0|I, \u0419|Y, \u048a|Y, \u0408|J, \u041a|K, \u049a|Q, \u049e|Q, \u04a0|K, \u04c3|Q, \u049c|K, \u041b|L, \u04c5|L, \u0409|L, \u041c|M, \u04cd|M, \u041d|N, \u04c9|N, \u04a2|N, \u04c7|N, \u04a4|N, \u040a|N, \u041e|O, \u04e6|O, \u04e8|O, \u04ea|O, \u04a8|O, \u041f|P, \u04a6|PF, \u0420|P, \u048e|P, \u0421|S, \u04aa|S, \u0422|T, \u04ac|TH, \u040b|T, \u040c|K, \u0423|U, \u040e|U, \u04f2|U, \u04f0|U, \u04ee|U, \u04ae|U, \u04b0|U, \u0424|F, \u0425|H, \u04b2|H, \u04ba|H, \u0426|TS, \u04b4|TS, \u0427|CH, \u04f4|CH, \u04b6|CH, \u04cb|CH, \u04b8|CH, \u040f|DZ, \u0428|SH, \u0429|SHT, \u042a|A, \u042b|Y, \u04f8|Y, \u042c|Y, \u048c|Y, \u042d|E, \u04ec|E, \u042e|YU, \u042f|YA, \u0430|a, \u04d1|a, \u04d3|a, \u04d9|e, \u04db|e, \u04d5|e, \u0431|b, \u0432|v, \u0433|g, \u0491|g, \u0453|g, \u0493|g, \u04f7|g, y|y, \u0434|d, \u0435|e, \u0450|e, \u0451|yo, \u04d7|e, \u04bd|e, \u04bf|e, \u0454|ye, \u0436|zh, \u04c2|dzh, \u0497|zh, \u04dd|dzh, \u0437|z, \u0499|z, \u04df|dz, \u04e1|dz, \u0455|dz, \u0438|i, \u045d|i, \u04e5|i, \u04e3|i, \u0456|i, \u0457|ji, \u04c0|i, \u0439|y, \u048b|y, \u0458|j, \u043a|k, \u049b|q, \u049f|q, \u04a1|k, \u04c4|q, \u049d|k, \u043b|l, \u04c6|l, \u0459|l, \u043c|m, \u04ce|m, \u043d|n, \u04ca|n, \u04a3|n, \u04c8|n, \u04a5|n, \u045a|n, \u043e|o, \u04e7|o, \u04e9|o, \u04eb|o, \u04a9|o, \u043f|p, \u04a7|pf, \u0440|p, \u048f|p, \u0441|s, \u04ab|s, \u0442|t, \u04ad|th, \u045b|t, \u045c|k, \u0443|u, \u045e|u, \u04f3|u, \u04f1|u, \u04ef|u, \u04af|u, \u04b1|u, \u0444|f, \u0445|h, \u04b3|h, \u04bb|h, \u0446|ts, \u04b5|ts, \u0447|ch, \u04f5|ch, \u04b7|ch, \u04cc|ch, \u04b9|ch, \u045f|dz, \u0448|sh, \u0449|sht, \u044a|a, \u044b|y, \u04f9|y, \u044c|y, \u048d|y, \u044d|e, \u04ed|e, \u044e|yu, \u044f|ya", "flagChanged": false, "homeUrl": null, "shortLocale": "en", "url": "" };
        var isTablet = 0;
        var isMobile = 0;
        var websiteElementsDisabled = 1;
        var printElementsEnabled = 0;
        var siteArchiverEnabled = 0;
        var signOutFromAll = "1";
        var croppedUrlPrefix = "contact.html\/\/static.ucraft.net\/fs\/ucraft\/userFiles\/thpgroup\/images";
        var userFilesUrl = "contact.html\/\/static.ucraft.net\/fs\/ucraft\/userFiles\/thpgroup\/";
        var accountsUrl = "contact.html\/\/accounts.ucraft.site";
        var accountsIframeUrl = "contact.html\/\/accounts.ucraft.com";
        var currency = "USD";
        var helpUrl = "contact.html\/\/support.ucraft.com";
        var websiteUrl = "contact.html\/\/www.ucraft.com";
        var publicAddonsAssetsUrl = "\/frontend-public\/";
        var publicUser = null;
        var staticUrl = "contact.html\/\/static.ucraft.net";
        var storageUrl = "contact.html\/\/static.ucraft.net\/fs";
        var hasEcommerce = false;
        var hasPayByReceipt = false;
        var translations = { "validation.requiredField": "This field is required", "validation.invalidEmail": "This is not a valid e-mail address", "validation.characterRequired": "The minimum number of characters is", "validation.characterAllowed": "The maximum number of characters is", "validation.wordsRequired": "The minimum number of words is", "validation.wordsAllowed": "The maximum number of words is", "validation.invalidUrl": "This is not a valid URL", "validation.passwordCompare": "Password and the Verification don`t match", "validation.promoCodeCompare": "This is not a valid Coupon Code ", "validation.invalidNumber": "This is not a valid number", "validation.greaterThanNumber": "Value should be greater than", "validation.lowerThanNumber": "Value should be lower then", "validation.alias": "The alias may only contain letters, numbers, and dashes", "validation.fileIsBig": "The file you are uploading is too big.", "validation.invalidFileType": "Type of the file you are uploading is not a supported.", "validation.invalidDate": "Invalid date", "validation.invalidDateFormat": "The date doesn\u2019t match with the correct date format: dd\/mm\/yyyy", "validation.reCaptchaUnexpectedError": "The Invisible reCAPTCHA error.", "validation.missingInputSecret": "The Invisible reCAPTCHA Secret Key is missing.", "validation.invalidInputSecret": "The Invisible reCAPTCHA Secret Key is invalid.", "validation.missingInputResponse": "The Invisible reCAPTCHA response parameter is missing.", "validation.invalidInputResponse": "The Invisible reCAPTCHA response parameter is invalid.", "validation.badRequest": "The Invisible reCAPTCHA request is invalid.", "validation.enableSslMessage": "Submitting this form is not possible, as the SSL has been enabled on your domain, but not on your website yet. To successfully submit the form you need to enable SSL in your domain configuration.", "validation.aliasReserved": "This alias cannot be used.", "validation.uniqueAlias": "A page already exists with {alias} alias. Please change the alias.", "validation.invalidMasking": "Phone number format is invalid.", "validation.invalidReasonUnspecified": "Unspecified error reason.", "validation.unknownInvalidReason": "Unknown error reason.", "validation.malformed": "The provided user verification token was malformed.", "validation.expired": "The user verification token had expired.", "validation.dupe": "The user verification had already been seen.", "validation.missing": "The user verification token was not present.", "validation.browserError": "A retrievable error occurred on the browser." };

        var styleSheetUrls = [];
        var _token = '';
        var editUrl = 'index.html';
        var baseUrl = 'index.html';
        var apiPrefix = 'api';
        var publicApiPrefix = 'papi';
        var publicRestPrefix = 'prest';
        var accountPopupButtons = '1';
        var logoutFromAllDevices = '1';
        var recaptchaSiteKey = '6Le_W-AoAAAAAJsPzFpjoBVabZavvO3MDMJwQ8QO';
        var pageId = '12';
        var siteInfo = {
            domain: ''
        };
        var googleMapKey = 'AIzaSyCOt5KmGHnyjT3QwpXk9z0QTkT06FpjWHY';
        var previewMode = 0;
        <!-- lazy load css -->
        var ll = function (styleSheetUrls) {
            styleSheetUrls.forEach(function (el) {
                var l = document.createElement('link');
                l.rel = 'stylesheet';
                l.href = el;
                var h = document.getElementsByTagName('head')[0];
                h.appendChild(l);
            });
        };

        var raf = requestAnimationFrame || mozRequestAnimationFrame || webkitRequestAnimationFrame || msRequestAnimationFrame;

        if (raf) {
            raf(function () {
                ll(styleSheetUrls)
            });
        } else {
            window.addEventListener('load', function () {
                ll(styleSheetUrls)
            });
        }
    </script>

    <!-- jQuery minified -->
    <script src="../static.ucraft.net/assets/jQuery/jquery-3.6.0.minef0c.js?v=1708586951"></script>


    <!-- public assets js, all lib js files concated and minified -->
    <script defer src="../static.ucraft.net/assets/js/publicAssetsef0c.js?v=1708586951"></script>

    <!-- public js, all modules and apps public js concatenated and minified -->
    <script defer src="../static.ucraft.net/assets/js/publicef0c.js?v=1708586951"></script>

    <!-- Html -->


    <!-- Scripts -->
    <script defer type="text/javascript"
        src="../static.ucraft.net/assets/mask/jquery.mask.minef0c.js?v=1708586951"></script>

    <!-- Inline Scripts -->







    <script>
    </script>








</body>